CHANNEL_SECRET=貼上你的Channel_Secret
CHANNEL_ACCESS_TOKEN=貼上你的Channel_Access_Token

LIFF_ID=貼上你的LIFF_ID

LINE_OA_ID=@你的LINE帳號ID

NORMAL_WELCOME_MSG=歡迎加入！這裡放一般版歡迎訊息
AD_WELCOME_MSG=感謝您！這裡放廣告版歡迎訊息

RICHMENU_NORMAL=一般版圖文選單ID
RICHMENU_AD=廣告版圖文選單ID
RICHMENU_PAID=付費學員圖文選單ID

ADMIN_KEY=自訂一個管理員密碼
